@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where(.dark, .dark *));

/* COLOR SCHEME */
:root,
html.light {
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-800);
  --accent: var(--color-red-400);
}

html.dark {
  --background: var(--color-gray-800);
  --foreground: var(--color-gray-100);
  --accent: var(--color-sky-500);
}

/* INIT COLORS */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

/* BASE STYLING */
@layer base {
  /* layouts */
  * {
    @apply transition-all duration-150 ease-in-out;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent selection:text-background relative min-h-svh;
    --z-old: 1;
    --z-new: 2;
  }
  .dark {
    --z-old: 2;
    --z-new: 1;
  }

  /* utility */
  h1 {
    @apply my-6 text-4xl;
  }
  h2 {
    @apply my-6 text-3xl;
  }
  p {
    @apply opacity-90;
  }
  em {
    @apply opacity-80;
  }
  hr {
    @apply border-foreground/30 mx-13 my-8;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
  /* footer {
    @apply max-w-app mx-auto;
  } */
}

/* SCROLLBAR STYLING */
@layer base {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent);
  }
}

/* THEME TRANSITION */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: var(--z-old);
}
::view-transition-new(root) {
  z-index: var(--z-new);
}
