@plugin "@tailwindcss/typography";

@layer base {
  .markdown {
    /* @apply prose; */

    /* headings */
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply visible;
    }
    h4 {
      @apply visible;
    }

    /* paragraph */
    p {
      @apply opacity-90;
    }

    /* url */
    a {
      @apply visible;
    }

    /* quote */
    blockquote {
      @apply visible;
    }

    /* image block */
    figure {
      @apply visible;
    }
    figcaption {
      @apply visible;
    }

    /* bold */
    strong {
      @apply visible;
    }

    /* description */
    em {
      @apply opacity-80;
    }

    /* keyboard */
    kbd {
      @apply visible;
    }

    /* inline code */
    code {
      @apply visible;
    }

    /* lists */
    ol {
      @apply visible;
    }
    ul {
      @apply visible;
    }
    li {
      @apply visible;
    }

    /* dictionary */
    dl {
      @apply visible;
    }
    dt {
      @apply visible;
    }
    dd {
      @apply visible;
    }

    /* table */
    table {
      @apply visible;
    }
    thead {
      @apply visible;
    }
    tbody {
      @apply visible;
    }
    tr {
      @apply visible;
    }
    th {
      @apply ring-foreground/30 visible px-3 ring-1;
    }
    td {
      @apply visible;
    }

    /* media */
    img {
      @apply visible;
    }
    video {
      @apply visible;
    }

    /* line breaker */
    hr {
      @apply border-foreground/30 mx-13 my-8;
    }
  }
}
