@import "tailwindcss";

/* MARGINS */
@layer base {
  .header-margin {
    @apply mx-auto max-w-3xl px-3 py-2;
  }
  .body-margin {
    @apply mx-auto max-w-3xl px-6 py-3;
  }
  .footer-margin {
    @apply mx-auto max-w-3xl px-3 pt-16 pb-2;
  }
}

/* CUSTOM CLASSES */
@layer base {
  /* navbar */
  .navigation {
    @apply hover:text-accent flex items-center justify-center gap-1 rounded-lg py-1 text-base tracking-wider ring-0 sm:text-base;
  }

  /* heading */
  .heading {
    @apply py-6 text-5xl font-semibold select-none;
  }
  .section-heading {
    @apply py-8 text-center text-2xl font-light tracking-widest select-none;
  }
  .blog-title {
    @apply py-3 pt-6 text-5xl font-semibold;
  }

  /* common */
  .paragraph {
    @apply space-y-6 text-lg leading-relaxed opacity-90;
  }
  .link {
    @apply text-accent active:text-foreground selection:text-foreground decoration-dashed underline-offset-3 transition-all duration-100 ease-in-out hover:underline hover:underline-offset-6;
  }

  /* button */
  .button {
    @apply ring-accent hover:bg-accent flex items-center gap-1 rounded-lg px-1.5 py-1 ring-1 hover:px-3 active:ring-0;
  }
  .button-text {
    @apply text-accent group-hover:text-background translate-x-1.5 opacity-100 transition-all duration-100 ease-in-out group-hover:translate-x-0.5;
  }
  .button-icon {
    @apply stroke-background size-2 -translate-x-1.5 stroke-1 opacity-0 group-hover:size-6 group-hover:translate-x-0.5 group-hover:opacity-100;
  }

  /* lists */
  .column {
    @apply grid gap-3 rounded-xl py-8 sm:grid-cols-2;
  }
  .row {
    @apply visible;
  }

  /* socials */
  .socials {
    @apply hover:stroke-accent size-8 stroke-1 active:size-6;
  }

  /* divider */
  hr {
    @apply border-foreground/30 mx-13 mt-13 mb-13;
  }
}

/* MARKDOWN STYLES */
@layer base {
  .markdown {
    /* @apply prose; */

    /* headings */
    h2 {
      @apply mt-8 mb-3 text-3xl;
    }
    h3 {
      @apply mt-6 mb-2 text-2xl;
    }

    /* paragraph */
    p {
      @apply text-lg leading-relaxed opacity-90;
    }

    /* url */
    a {
      @apply text-accent active:text-foreground selection:text-foreground decoration-dashed underline-offset-3 transition-all duration-100 ease-in-out hover:underline hover:underline-offset-6;
    }

    /* quote */
    blockquote {
      @apply bg-foreground/13 my-6 px-3 py-1 text-base opacity-80;
    }

    /* bold */
    strong {
      @apply font-bold opacity-85;
    }

    /* description */
    em {
      @apply font-serif text-[1rem] opacity-70;
    }

    /* keyboard */
    kbd {
      @apply rounded-lg px-2 py-0.5 font-mono text-base ring-1;
    }

    /*  code */
    .astro-code {
      @apply my-6 p-6;
    }
    .astro-code code {
      @apply bg-inherit;
    }
    code {
      @apply bg-accent text-background rounded-lg px-2 py-0.5 font-mono text-base opacity-90;
    }

    /* lists */
    ol {
      @apply mx-8 my-1 list-decimal text-lg opacity-90;
    }
    ul {
      @apply mx-8 mb-6 list-disc text-lg opacity-90;
    }
    li {
      @apply px-1 leading-relaxed;
    }

    /* dictionary */
    dl {
      @apply visible;
    }
    dt {
      @apply visible;
    }
    dd {
      @apply visible;
    }

    /* table */
    table {
      @apply mx-auto my-8 opacity-90;
    }
    tr {
      @apply visible;
    }
    th {
      @apply bg-foreground/8 ring-foreground/18 visible px-3 py-0.5 text-center ring-1;
    }
    td {
      @apply ring-foreground/18 px-3 py-1 ring-1;
    }

    /* image block */
    figure {
      @apply my-6 flex flex-col items-center;
    }
    figcaption {
      @apply text-accent visible py-2 text-sm;
    }

    /* media */
    img {
      @apply ring-accent ring-2 select-none;
    }
    video {
      @apply ring-accent my-6 ring-2 select-none;
    }

    /* line breaker */
    hr {
      @apply border-foreground/30 mx-13 mt-13 mb-13;
    }
  }
}
