@plugin "@tailwindcss/typography";

@layer base {
  .markdown {
    /* @apply prose; */

    /* headings */
    h2 {
      @apply mt-8 mb-3 text-3xl;
    }
    h3 {
      @apply mt-6 mb-2 text-2xl;
    }

    /* paragraph */
    p {
      @apply text-lg opacity-90;
    }

    /* url */
    a {
      @apply text-accent active:text-foreground underline-offset-3 hover:underline hover:underline-offset-6;
    }

    /* quote */
    blockquote {
      @apply bg-foreground/13 my-6 rounded-lg px-3 py-1 text-base opacity-80;
    }

    /* image block */
    figure {
      @apply ring-accent visible my-6 flex flex-col items-center;
    }
    figcaption {
      @apply text-accent visible py-2 text-sm;
    }

    /* bold */
    strong {
      @apply font-bold opacity-85;
    }

    /* description */
    em {
      @apply font-serif opacity-70;
    }

    /* keyboard */
    kbd {
      @apply rounded-lg px-2 py-0.5 text-base ring-1;
    }

    /*  code */
    .astro-code {
      @apply my-6 p-6;
    }
    .astro-code code {
      @apply bg-inherit;
    }
    code {
      @apply bg-accent text-background rounded-lg px-2 py-0.5 font-mono text-base opacity-90;
    }

    /* lists */
    ol {
      @apply mx-8 my-1 list-decimal text-lg opacity-90;
    }
    ul {
      @apply mx-8 my-1 list-disc text-lg opacity-90;
    }
    li {
      @apply my-1 px-1 leading-relaxed;
    }

    /* dictionary */
    dl {
      @apply visible;
    }
    dt {
      @apply visible;
    }
    dd {
      @apply visible;
    }

    /* table */
    table {
      @apply mx-auto my-8 opacity-90;
    }
    tr {
      @apply visible;
    }
    th {
      @apply bg-foreground/8 ring-foreground/18 visible px-3 py-0.5 text-center ring-1;
    }
    td {
      @apply ring-foreground/18 px-3 py-1 ring-1;
    }

    /* media */
    img {
      @apply ring-accent ring-2 select-none;
    }
    video {
      @apply visible;
    }

    /* line breaker */
    hr {
      @apply border-foreground/30 mx-13 my-8;
    }
  }
}
