---
import {
  GithubIcon,
  LinkedinIcon,
  RssIcon,
  YoutubeIcon,
  DiscordIcon,
} from "../util/Icons";
---

<footer class="footer-margin sticky bottom-0 z-0">
  <div class="flex items-center justify-center space-x-6 pb-8">
    <a href="https://github.com/8366888C" target="blank"
      ><GithubIcon className="socials" /></a
    >
    <a href="https://youtube.com/@iron-lobby" target="blank"
      ><YoutubeIcon className="socials" /></a
    >
    <a href="https://in.linkedin.com" target="blank"
      ><LinkedinIcon className="socials" /></a
    >
    <a href="https://discord.com" target="blank"
      ><DiscordIcon className="socials" /></a
    >
    <a href="/rss.xml"><RssIcon className="socials" /></a>
  </div>
  <div class="text-foreground/50 flex items-center justify-between text-sm">
    <p>© 2025 Rahul</p>
    <p>
      powered by <a
        href="https://astro.build"
        target="blank"
        class="hover:text-accent">Astro</a
      > &
      <a href="" class="hover:text-accent">Luna</a>
    </p>
  </div>
</footer>
