---
import ThemeToggle from "../ui/ThemeToggle";
import Navigation from "../ui/Navigation.astro";
import NavigationMenu from "../ui/NavigationMenu";
import { SearchIcon } from "../util/Icons";
---

<header
  class="header-margin bg-background sticky top-0 z-0 flex items-center justify-between"
>
  <a href="/" class="text-xl tracking-wider select-none">Luna</a>
  <div class="flex items-center justify-center gap-8">
    <Navigation />
    <div class="flex items-center justify-center gap-4">
      <ThemeToggle client:load />
      <button>
        <SearchIcon className="active:fill-foreground size-5" />
      </button>
      <NavigationMenu client:load />
    </div>
  </div>
</header>
