---

---

<h2 class="section-heading">N E W S L E T T E R</h2>
<form class="newsletter">
  <p class="newsletter-text">Get latest updates every weekend</p>
  <div class="flex flex-col items-center justify-center">
    <input
      type="text"
      class="newsletter-placeholder"
      placeholder="yourname@email.com"
    />
    <button class="newsletter-button">Subscribe</button>
  </div>
</form>
