---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blogs");
const tags = [
  ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
].sort();
---

<BaseLayout
  title="Tags"
  description="All unique tags of Luna blogs."
  image="./favicon.png"
  url="https://lunakit.netlify.app/tags"
>
  <main class="body-margin">
    <h1 class="heading">Tags</h1>
    <ul class="mx-8 my-3 space-y-3">
      {
        tags.map((tag) => {
          return (
            <li>
              <a href={`/tags/${tag}/1`} class="hover:text-accent text-lg">
                {tag}
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
