---
import { navigationClass } from "./class";
---

<nav class="hidden items-center gap-6 sm:flex">
  <a href="/posts" class={navigationClass}>Posts</a>
  <a href="/tags" class={navigationClass}>Tags</a>
</nav>
