---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Luna"
  description="A minimalist Astro starter for personal blogs."
  image="./favicon.svg"
  url="https://lunakit.netlify.app"
>
  <main class="body-margin">
    <div>
      <h1 class="heading flex items-center justify-center">404</h1>
      <p class="paragraph flex items-center justify-center">
        The page you requested cannot be found!
      </p>
    </div>
  </main>
</BaseLayout>
