---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/layout/FeaturedPosts.astro";
import Newsletter from "../components/layout/Newsletter.astro";
import Introduction from "../components/layout/Introduction.astro";
---

<BaseLayout
  title="Luna"
  description="A minimalist Astro starter for personal blogs."
  image="./favicon.svg"
  url="https://lunakit.netlify.app"
>
  <main class="body-margin">
    <section>
      <Introduction />
    </section>
    <hr />
    <section>
      <FeaturedPosts />
    </section>
    <hr />
    <section>
      <Newsletter />
    </section>
  </main>
</BaseLayout>
