---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import Newsletter from "../components/misc/Newsletter.astro";
import { RightArrowIcon } from "../components/misc/Icons";
import {
  bodyMargin,
  urlClass,
  routeBarClass,
  routeIconClass,
  routeTextClass,
} from "../styles/utility";
---

<BaseLayout
  title="Luna"
  description="A minimalist Astro starter for mini blogs."
  image="./favicon.png"
  url="https://lunakit.netlify.app"
>
  <main class="body-margin">
    <section>
      <h1 class="heading">Hey</h1>
      <div class="paragraph">
        <p>
          Luna is a static, minimal, responsive and SEO-friendly blog theme on
          Astro. This theme follows best practices and provides accessibility
          out of the box. Light and dark mode are supported by default.
          Moreover, additional color schemes can also be configured.
        </p>
        <p>
          Read the featured blog posts or check <a href="" class="link"
            >README</a
          > for more info.
        </p>
      </div>
    </section>
    <hr />
    <section>
      <FeaturedPosts />
    </section>
    <hr />
    <section>
      <Newsletter />
    </section>
  </main>
</BaseLayout>
