---
import Base from "../layouts/Base.astro";
---

<Base
  title="Luna"
  description="A minimalist Astro starter for mini blogs."
  image="./favicon.png"
  url="https://lunakit.netlify.app"
>
  <h1 class="mx-7 text-6xl">Hello</h1>
</Base>
