---
import { getCollection } from "astro:content";
import FeaturedCard from "./misc/FeaturedCard.astro";
import { RightArrowIcon } from "./misc/Icons";
import PostCard from "./misc/PostCard.astro";
const posts = await getCollection("blogs");
---

<h2 class="section-heading">F E A T U R E D</h2>
<ul class="column">
  {
    posts.map((post: any) => {
      return (
        <li>
          <PostCard
            title={post.data.title}
            date={post.data.pubDate
              .toLocaleDateString("en-GB", {
                day: "numeric",
                month: "short",
              })
              .slice(0, 11)}
            url={`/posts/${post.id}`}
            tags={post.data.tags}
          />
        </li>
      );
    })
  }
</ul>
<div class="flex items-center justify-center">
  <a href="/posts" class="button group">
    <span class="button-text">All Posts</span>
    <RightArrowIcon className="button-icon" />
  </a>
</div>
