---
import { getCollection } from "astro:content";
import PostCard from "./misc/PostCard.astro";
import { sectionMargin } from "../styles/utility";
const posts = await getCollection("blogs");
---

<h2 class="my-6 text-3xl">Featured Posts</h2>
<ul class={`${sectionMargin} grid grid-cols-2 gap-6`}>
  {
    posts.map((post: any) => {
      return (
        <li>
          <PostCard
            title={post.data.title}
            date={post.data.pubDate
              .toLocaleString("en-GB", {
                day: "numeric",
                month: "short",
                year: "numeric",
              })
              .slice(0, 11)}
            description={post.data.description}
            url={`/posts/${post.id}`}
          />
        </li>
      );
    })
  }
</ul>
