---
import ThemeToggle from "../components/misc/ThemeToggle";
import Navigation from "../components/misc/Navigation.astro";
import NavigationMenu from "../components/misc/NavigationMenu";
import { SearchIcon } from "../components/misc/Icons";
import { headerMargin } from "../styles/utility";
---

<header>
  <div class={`${headerMargin} flex items-center justify-between`}>
    <a
      href="/"
      class="hover:text-accent-light dark:hover:text-accent-dark text-xl tracking-wider"
      ><span class="hover:text-secondary-light dark:hover:text-secondary-dark"
        >L</span
      ><span class="hover:text-secondary-light dark:hover:text-secondary-dark"
        >u</span
      ><span class="hover:text-secondary-light dark:hover:text-secondary-dark"
        >n</span
      ><span class="hover:text-secondary-light dark:hover:text-secondary-dark"
        >a</span
      ></a
    >
    <div class="flex items-center justify-center gap-8">
      <Navigation />
      <div class="flex items-center justify-center gap-4">
        <ThemeToggle client:load />
        <button>
          <SearchIcon className="active:fill-foreground size-5" />
        </button>
        <NavigationMenu client:load />
      </div>
    </div>
  </div>
</header>
