---
import ThemeToggle from "./ThemeToggle";
import { RssIcon, SearchIcon } from "../components/util/Icons";
import Navigation from "./Navigation.astro";
---

<header
  class="header-margin sticky top-0 z-0 flex items-center justify-between"
>
  <a
    href="/"
    class:list={[
      "text-xl tracking-wider select-none",
      Astro.url.pathname === "/" ? "text-accent" : "",
    ]}>Luna</a
  >
  <div class="flex items-center justify-center gap-6">
    <Navigation />

    <div class="flex items-center justify-center gap-4">
      <ThemeToggle client:load />
      <a href="/rss.xml" target="blank" aria-label="rss" title="rss"
        ><RssIcon className="active-foreground size-5" /></a
      >
      <button aria-label="search" title="search">
        <SearchIcon className="active:fill-foreground size-5" />
      </button>
    </div>
  </div>
</header>
