---
import {
  DiscordIcon,
  GithubIcon,
  LinkedinIcon,
  YoutubeIcon,
  TwitterIcon,
} from "./util/Icons";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://github.com/" target="blank" aria-label="gitbub"
    ><GithubIcon className="socials" /></a
  >
  <a href="https://youtube.com/" target="blank" aria-label="youtube"
    ><YoutubeIcon className="socials" /></a
  >
  <a href="https://in.linkedin.com" target="blank" aria-label="linkedin"
    ><LinkedinIcon className="socials" /></a
  >
  <a href="https://discord.com" target="blank" aria-label="discord"
    ><DiscordIcon className="socials" /></a
  >
  <a href="https://twitter.com" aria-label="twitter"
    ><TwitterIcon className="socials" /></a
  >
</div>
